---
layout: page
title: "Categorias"
description: "Todas as categorias que contêm posts"
---
<hr>

<!-- <h1>Categorias</h1> -->
<br>

<!-- {% for category in site.categories %}
  <h2 id="{{ category[0] }}">{{ category[0] | capitalize }}</h2>
  <ul class="post-list">
    {% assign pages_list = category[1] %}
    {% for post in pages_list %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
      <li><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }} - <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></a></li>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %} -->

{% for category in site.categories %}
<div class="panel-group" style="margin-bottom:0; border-radius:0">
  <div class="panel panel-default" style="border-radius:0">
    <a data-toggle="collapse" href="#li_{{ category[0] }}">
         <div class="panel-heading">
           <h2 id="{{ category[0] }}">{{ category[0] | capitalize }}</h2>
         </div>
    </a>
    <div id="li_{{ category[0] }}" class="panel-collapse collapse">
      <ul class="list-group list-unstyled" style="padding:10px 10px 10px 30px">
           {% assign pages_list = category[1] %}
           {% for post in pages_list %}
             {% if post.title != null %}
             {% if group == null or group == post.group %}
             <li><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }} - <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%d %b %Y" }}</time></a></li>
             {% endif %}
             {% endif %}
           {% endfor %}
           {% assign pages_list = nil %}
           {% assign group = nil %}
      </ul>
    </div>
  </div>
</div>
{% endfor %}
