---
layout: page
title: "Autores"
description: "Autores que colaboram com este Blog"
---
<hr>

{% for member in site.data.members %} {% if member.visible == true %}

	<img class="img-circle" src="{{ member.img }}" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width:150px !important">

	<h1>{{ member.name }}</h1>

	<h2>{{ member.role }}</h2>

	{% if member.github %}
	<a title="Github" href="https://github.com/{{ member.github }}" target="_blank">
		<span class="fa-stack fa-lg" style="font-size:20px">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-github fa-stack-1x fa-inverse"></i>
		</span></a>
	{% endif %}
	{% if member.gplus %}
	<a title="Google+" href="{{ member.gplus }}" target="_blank">
		<span class="fa-stack fa-lg" style="font-size:20px">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
		</span></a>
	{% endif %}
	{% if member.url %}
	<a title="Website" href="{{ member.url }}" target="_blank">
		<span class="fa-stack fa-lg" style="font-size:20px">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-globe fa-stack-1x fa-inverse"></i>
		</span></a>
	{% endif %}

	</br>

	{% if member.bio %}
	{{ member.bio }}
	{% endif %}

	<hr>

{% endif %}{% endfor %}
